.folder:hover {
    cursor: pointer;
    box-shadow: 0 4px 10px 4px gray;
}

.button:hover {
    cursor: pointer;
    box-shadow: 0 1px 8px 1px gray;
}

.input-text:hover, .input-text:focus {
    background-color: var(--efect-white);
}

.available:hover {
    cursor: pointer;
    background-color: var(--efect-available-background);
}

.selected:hover {
    background-color: var(--selected-background);
}