@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

body {
    background-color: var(--background);
}

.top {
    width: 100vw;
    height: 67px;
    background-color: var(--gray);
    color: var(--orange);

    display: flex;
    justify-content: space-around;
    align-items: center;

    position: fixed;
    top: 0;
    z-index: 1;
}

.main {
    width: 100vw;
    height: 100vh;
    padding-top: 100px;
    background-color: var(--background);
    color: var(--black);

    display: flex;
    justify-content: center;
}

.main > div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.list-movies {
    width: 90%;
    
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}

.sessions, .seats {
    width: 90%;
    margin-bottom: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sessions-time {
    width: 100%;
    overflow-x: auto;
}

.folder {
    width: 155px;
    height: 219px;
    margin: 15px;
    background-color: var(--white);
    border-radius: 5px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.folder img {
    width: 139px;
    height: 203px;
}

.session-box {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.time {
    width: 100%;
    margin: 23px 0;
    display: flex;
    font-size: 20px;
}

.button{
    height: 43px;
    padding: 15px;
    margin: 8px 8px 8px 0;
    background-color: var(--orange);
    color: var(--white);
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ending {
    width: 90%;
}

.input-text {
    width: 100%;
    height: 51px;
    padding: 8px;
    margin: 5px 0px 20px 0px;
    border-radius: 3px;
    border: var(--border) 1px solid;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
}

.seats-content {
    width: 80%;
    margin: 30px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.seats-choice {
    width: 26px;
    height: 26px;
    margin: 5px;
    border-radius: 50%;
    background-color: var(--gray);
    font-size: 11px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bottom {
    width: 100vw;
    background-color: var(--gray);
    display: flex;
    align-items: center;

    position: fixed;
    bottom: 0;
    z-index: 1;
}

.bottom-image {
    margin: 14px;
    padding: 8px;
    background-color: var(--white);
}

.bottom-image img {
    width: 80px;
}

.bottom-info {
    padding-left: 14px;
    font-size: 26px;
    color: var(--black);
    display: flex;
    flex-direction: column;
}